.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.map-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.map-container {
  width: 400px; /* Set width */
  height: 300px; /* Set height */
  border: 2px solid #000; /* Optional border for styling */
  border-radius: 8px; /* Optional rounded corners */
}