html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

.App {
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 40px 20px;
}

.about-section, .map-section, .sources-section {
  min-height: 100vh; /* Each section takes at least the full screen height */
}

.map-frame {
  height: 60vh; /* The map takes 60% of the viewport height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 60%;
  height: 100%;
}

.sources-section {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}
